<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="navigateToGeneroLista()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Musica List</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="navigateToBuscarAlbumes()">
    <mat-icon>headphones</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="navigateToRegistroDeUsuario()">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

