<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content>
    <div class="form-container">
    <form [formGroup]="trackForm" (ngSubmit)="onSubmit()">
      <p><mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input placeholder="title" type="text" matInput formControlName="title" placeholder="">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Duration</mat-label>
        <input placeholder="time" type="time" matInput formControlName="duration" placeholder="">
      </mat-form-field>

      <input type="hidden" formControlName="album_id" [value]="album_id">
      <button mat-stroked-button type="submit">Agregar</button></p>
    </form></div>
  </mat-card-content>
</mat-card>
