<p><br><br></p>
<div class="button">
    <button routerLink="/menu-admin-genero" mat-stroked-button routerLinkActive="active" ariaCurrentWhenActive="page" type="submit" mat-button>genero</button>
    <button routerLink="/menu-admin-album" mat-stroked-button routerLinkActive="active" ariaCurrentWhenActive="page" type="submit" mat-button>album</button>
    <button routerLink="/menu-admin-cancion" mat-stroked-button routerLinkActive="active" ariaCurrentWhenActive="page" type="submit" mat-button>cancion</button>
  </div>