<h2>Lista de elementos</h2>

<section class="element-section">
  <app-registrar-usuario></app-registrar-usuario>
</section>

<section class="element-section">
  <app-voto-lista></app-voto-lista>
</section>

<section class="element-section">
  <app-recomendar-lista></app-recomendar-lista>
</section>

<section class="element-section">
  <app-album-listar></app-album-listar>
</section>

<section class="element-section">
  <app-genero-lista></app-genero-lista>
</section>

<section class="element-section">
  <app-usuario-votante-list></app-usuario-votante-list>
</section>
